*{
  margin: 0;
  padding: 0;
}
:root {
    --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
  html { font-size: 24px; }
#header{
  height: 10vh;
  font-family: var(--font-face);
  font-weight: 400;
  font-size: 28px;
  background: #F32C52;
  color: #fff;
  line-height: 10vh;

  
}
body{
  text-align: center;
  background-color: pink;
}

.container{
  width: 80%;
  height: 80%;
  position: absolute;
  display: flex;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
  justify-content: center;
  flex-wrap: wrap;
  
}

.card {
  overflow: hidden;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  border-radius: 8px;
  flex: .1;
  height: 40%;
  min-width: 20%;
  margin: 10px;
  justify-content: space-between;
  text-align: center; 
  position: relative;
  font-family: var(--font-face);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}
.delete {
  margin-bottom: 4px;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 5px;
  cursor: pointer;
  text-align: center;
    color: #fff;
  border: 0 none;
    box-shadow: 2px 5px 10px #e4e4e4;
  border-radius: 4px;
  transition: all 100ms linear;
      font-size: 13px;
  font-weight: 500;

  background: #F32C52;
  font-family: var(--font-face);
  position: absolute;
}
.delete:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }

#add{
      color: #fff;
  position: absolute;
  font-family: var(--font-face);
  padding: 20px 20px;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  background-color: #3dd28d;
  border: none;
  border-radius: 2px;  
  font-size: 13px;
  font-weight: 500;
    cursor: pointer;
  text-align: center;
  line-height: 8%;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
}
#add:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
animation: popAnim 0.2s forwards;
  

  
   }
#add:focus {outline:0;}
  @keyframes popAnim{
    100%{
      transform: translate(-50%) scale(1.2);
    }
  }
@media screen and (max-width: 400px){
  html { font-size: 32px; }
    .container {
flex-flow: row wrap;
    }    
  .card{
    min-width: 70vw;
    min-height: 30vh;
  }
  #add{
  padding: 12px 12px;
  bottom: 93%;
  left: 85vw;
  transform: translate(-50%);

  }
}

